

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    overflow-x: hidden;
    max-width: 100vw;
    font-family: RaleWay;
}


body {
    min-height: 2000px;
}

.test {
    border: solid red 4px;
}

.heroContainer {
    position: relative;
    min-height: 100vh;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.2)), url('../images/hero.jpg');
    background-size: cover;
    background-position: 55%;

    padding-top: 200px;
    /* padding-left: 100px; */
    text-align: center;
    color: white;
}

@media only screen and (min-with: 768px) {
    .heroContainer{
        padding-top: 500px ;
    }
    
}

.callToAction{
    border: 1px solid white;
    color: white;

    width: auto;
    height: auto;
    border-radius: 0;

    font-weight: 600;
}

.callToAction:hover{
    border-color: #ff0000;
    color: white;
    font-weight: 700 !important;
}

.lead{
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: italic;
}

.lottie{
    width: 100%;
    height: auto;
}

.full-height{
    min-height: 100vh !important;
}





