.nav-link{
    font-weight: 500 !important;
}

.nav-link:hover{
    color: #ff0000 !important;
}

.current{
    color: white !important;
}

.nav-action{
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .nav-action{
        visibility: visible;
    }
}
